body{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #507177f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}
.board{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board-row {
    display: flex;
   
}
.square{
    height: 50px;
    width: 50px;
}